html {
  	min-width: 100%;
  	min-height: 100%;
  	background-color: #222222;
  	background-position: top center;
}

body {
  	width: 1054px;
  	height: 1054px;
	background-color: #222222;
}

.navbar {
	background-color: #1c1c1c;
	background-position: left;
	width: 350px;
	height: 1054px;
  margin-left: -0.75%;

.chatbar {
  background-color: black;
}